<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>watch-list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
    integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
</head>

<body class="container">

  <nav class="navbar navbar-dark bg-dark rounded my-1 py-1">
    <a class="navbar-brand"  id="nav-username" href="#" signedIn=""></a>
    <form  class="form-inline">
      <button class="btn btn-sm btn-outline-secondary mr-1" type="button">Sort</button>
      
    </form>
    <form method="post" action="/edit">
      <input type="submit" class="btn btn-sm btn-outline-secondary" name="edit" value="" id="edit-btn" signedIn = "" >
    </form>
  </nav>