<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">
</head>

<body class="">

    <div class="box">
        <div class="alert alert-primary" role="alert">
            <p>
                can't be empty and no more than 15 characters, it is also your password , anyone with your username will gain access to your account
            </p>
        </div>
        
        <form action="/login" method="post"   id="loginForm">
            <label id="h-username" >Enter Username</label>
            <input class="email" type="text" placeholder="username" id="input" name="username"   minlength=4 maxlength=15 required >
            <button class="btn mx-auto" name="change" value="change" type="button" id="change-btn" onclick="checkUser(event)" >Submit</button>
        </form>
        <input type="hidden" id="userSet"  >
        <button class="btn mx-auto "><a href="/">go to home page</a></button>

    </div> <!-- End Box -->


    <script src="../views/js/login.js"></script>
</body>

</html>