html {
  background-color: #181A1B;
  font-family: 'helvetica neue';
}
body{
  background-color: #3a3d57;
  background: transparent !important;
}
.nav{
background-color: #374e57 !important;

}

#labelDelete{
  color:#F1F1F1;
}


h1 {
  color: #95adbe;
  padding: .1em;
}

.title-card{
 min-width: 15em !important;
 
}





.box {
  
  margin: 1em auto;
  background: #463F64;
  border-radius: 5px;

}

#heading {
  background-color: #3c2a4d;
  text-align: center;
}

.item {
  min-height: .3em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}


.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: .5em;
}

p {
  margin: 0;
  padding: 1.0em;
  font-size: 1.0em;
  font-weight: 350;
  color: aliceblue;
}

form.item {
  text-align: center;
  margin-left: 1em;
}

.submit-btn {
  background: transparent;
  border-width: 0 !important;
}



input[type="text"] {
  text-align: center;
  height: 3.0em;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 1.1em;
  font-weight: 350;
  
  color: #e0f0ea;
}


#inputTitle {
  text-align: center;
  height: 2.7em;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 1.1em;
  font-weight: 350;
  
  color: #e0f0ea;
}




input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: #E8E6E3;
  text-align: center;
}
